.create-workout-page-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Blur the page when the workout suggestion button is clicked */
.create-workout-page-conteiner#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.create-workout-title {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

/* Verify if is possible to animate both at the same time
  without the icon disable before the button */
.workout-suggestion-icon {
  color: var(--primary-color);
  opacity: 40%;
  font-size: 32px;
  cursor: pointer;

  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.workout-suggestion-icon:hover {
  opacity: 1;
  transform: rotate(-45deg);
}

.workout-suggestion-button {
  position: absolute;
  right: 11%;
  top: 17%;
  border: none;
  background-color: transparent;
}

.return-to-planner-page-icon {
  position: absolute;
  left: 11%;
  top: 17%;
  font-size: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: transform .3s ease;
}

.return-to-planner-page-icon:hover {
  transform: scale(1.3);
}

.return-to-planner-page-icon:active {
  transform: scale(0.95);
}

.workout-suggestion-button::after {
  content: attr(text-content);
  position: absolute;
  right: 120%;
  top: 50%;
  transform: translateY(-50%) translateX(15px);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.workout-suggestion-button:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

