.workout-card-list-conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  width:500px;
  height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
  gap: 5px;
  padding: 5px 10px;
}

.no-exercises-for-workout-text {
  font-size: 28px;
  font-weight: 600;
  color: var(--primary-color);
  opacity: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

