.exercise-form-container {
  position: relative;
  width: 450px;
  max-width: 90vw; /* responsiveness in small screens */
  background-color: var(--background-color);
  border-radius: 15px;
  border: 8px solid var(--primary-color);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  /* Adding the button height to the padding bottom
    so the layout stays the same */
  /* 20px + button-size(35px) + 5px gap = 60px*/
  padding-bottom: 60px;
}

.exercise-form-container h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 16px;
  color: black;
}

.form-input-box {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  margin: 12px 0;
}

.form-input-box input,
.form-input-box select {
  height: 32px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, .2);
  font-size: 15px;
  font-family: 'Exo 2';
  color: var(--text-color);
  background-color: var(--background-color);
}

.form-input-box input,
.form-input-box select {
  padding: 0px 15px;
  border-color: var(--primary-color);
}

.form-input-box label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.form-textarea-box label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-textarea-box {
  margin: 12px 0;
}

.form-textarea-box textarea {
  height: 50px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  padding: 12px 15px;
  font-size: 15px;
  font-family: 'Exo 2';
  background-color: var(--background-color);
}

.exercise-form-container span {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color);
}

.exercise-form-button {
  position: absolute;
  right: 30px;

  width: 30%;
  height: 35px;
  border-radius: 10px;
  border-style: none;

  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: 'Exo 2';
  font-size: 15px;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.exercise-form-button:hover {
  transform: scale(1.05);
}

.exercise-form-button:active {
  background-color: var(--secundary-color);
  transform: scale(0.95);
}
