.session-page-inner-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.session-page-timer-conteiner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.session-page-timer-conteiner div {
  place-items: center;
}

.session-page-timer-text {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 8px;
}

.session-page-date-selector {
  position: absolute;
  left: 10%;
  top: 15%;
}

.session-page-drag-drop-conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.session-page-drag-drop-conteiner div {
  display: flex;
  flex-direction: column;
}

.session-page-drag-drop-text {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 8px;
  text-align: center;
}