.planner-conteiner {
  display: flex;
  gap: 30px;
}

.planner-title {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}