/* Styles moved to inline sx prop in Calendar.jsx for production stability */

.calendar-outer-conteiner {
  position: relative;
  display: flex;
}

.create-a-workout-button {
  position: absolute;
  bottom: 0px;
  right:0px;
  padding: 0px 15px;
  height: 40px;
  border-radius: 10px;
  border-style: none;

  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: 'Exo 2';
  font-size: 15px;
  cursor: pointer;

  transition: transform 0.2s ease;
}

.create-a-workout-button:active {
  transform: scale(0.95);
}