.two-step-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 1000;
}

.two-step-form-progress-bar {
  margin: 20px 0px;
  width: 100%;
  height: 5px;
  color: var(--primary-color);

}