@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3D405B;
  --secundary-color: #06D6A0;
  --accent-color: #FFD166;
  --background-color: #F5F5F5;
  --text-color: #3D405B;
  /* Main text */
  --subtext-color: #6D6D6D;
  /* Subtext */
  --delete-color: #E63946;

  font-family: 'Exo 2', 'Bebas Neue', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  height: 100%;
  /* 98px is the size of the navbar header */
  /*  margin-top: 98px; */
}

/* Check this out */
html {
  scroll-behavior: smooth;
}

/* Adjusting the parent elements to occupy all the page width: 100%.
   Otherwise when I try to use width: 100% to insert the backgrund image, it won't work*/
html,
body,
#root {
  width: 100%;
}

