.home-page-conteiner {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  
  background-image: url('../../assets/01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-page-quote-conteiner {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  border: none;
  border-radius: 25px;
  width: 700px;
  background-color: rgba(69, 69, 69, 0.48);
  backdrop-filter: blur(15px);
  box-shadow: 3px 3px 6px rgba(61, 64, 91, 0.5);
  padding: 40px;
}

.home-page-quote-text {
  font-family: 'Exo 2';
  font-size: 42px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: var(--background-color);
}

.home-page-author-text, .home-page-loading-text {
  color: var(--background-color);
}

.home-page-quote-button {
  position: absolute;
  border: none;
  right: 40px;
  bottom: 30px;
  background-color: transparent;
  color: var(--background-color);
  font-size: 22px;

  transition: transform 0.5s ease-in-out;
}

.home-page-quote-button:hover {
  transform: scale(1.2) rotate(360deg);
}

.home-page-quote-button:active {
  transform: scale(0.95) rotate(360deg);
  transition: transform 0.1s ease-in-out;
}

